@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
  background-color: #ffffff;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #131313;
  }
}

* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit, Arial, Helvetica, sans-serif !important;
}

.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate-clockwise {
  animation: rotate-clockwise 4s linear infinite;
  /* Adjust the time as per your needs */
}

.robotImageUse {
  background-image: url('/Images/WhyChooseZimriTech/robot-bd.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  min-width: 450px;
  width: 100%;
}

/* Animation to move top to bottom up and down */
@keyframes robotAimate {
  0% {
    transform: translateY(0);
    /* Start at original position */
  }

  50% {
    transform: translateY(-20px);
    /* Move up 20px */
  }

  100% {
    transform: translateY(0);
    /* Return to original position */
  }
}

.animation_image {
  animation: robotAimate 4s linear infinite;
  /* 4s duration, you can adjust this as needed */
  animation-timing-function: ease-in-out;
  /* Make the movement smooth */
}