@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
  background-color: #ffffff;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #131313;
  }
}

* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit, Arial, Helvetica, sans-serif !important;
}

.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate-clockwise {
  animation: rotate-clockwise 4s linear infinite;
  /* Adjust the time as per your needs */
}

.robotImageUse {
  background-image: url('/Images/WhyChooseZimriTech/robot-bd.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  min-width: 450px;
  width: 100%;
}

/* Animation to move top to bottom up and down */
@keyframes robotAimate {
  0% {
    transform: translateY(20px);
    /* Start at original position */
  }

  50% {
    transform: translateY(-40px);
    /* transform: rotate(90deg); */
    /* Move up 20px */
  }

  100% {
    transform: translateY(20px);
    /* Return to original position */
  }
}

.animation_image {
  animation: robotAimate 4s linear infinite;
  /* 4s duration, you can adjust this as needed */
  animation-timing-function: ease-in-out;
  /* Make the movement smooth */
}

/* Animation to move top to bottom up and down */
@keyframes textAimate {
  0% {
    transform: translateX(10px);
    /* Start at original position */
  }

  50% {
    transform: translateX(-20px);
    /* transform: rotate(90deg); */
    /* Move up 20px */
  }
}

.textMoveAnimate {
  animation: textAimate 4s linear infinite;
  /* 4s duration, you can adjust this as needed */
  animation-timing-function: linear;
  /* Make the movement smooth */
}



/* Apply a border animation */
.moving-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 15px;
  box-shadow: 0 0 0 2px transparent inset;
  animation: borderSlide 2s ease-in-out infinite;
}

/* Keyframes to move the border */
@keyframes borderSlide {
  0% {
    box-shadow: 0 0 0 2px #d70fff inset, 0 0 0 2px #d31340 inset;
  }

  50% {
    box-shadow: 0 0 0 2px #71d400 inset, 0 0 0 2px #f1ff2b inset;
  }

  100% {
    box-shadow: 0 0 0 2px #c405c4 inset, 0 0 0 2px #2b39ff inset;
  }
}